/*
CSS Rules
selector{
	property: value
}
*/
/*Universal Selector*/
*{
	/*monospace acts like an alternate font for courier New*/
	font-family: "Courier New1",monospace;
	font-size: 20px;
}
 body{
 	background-color: skyblue;
 }

html{
	scroll-behavior: smooth;
}
	
/*navigation bar*/
nav{
		background-color: white;
}
	/*selector: hover psuedo class*/
	/*changes the when hovered over*/
a:hover{
	background-color: #b4d6de;
}

div{
	display: inline-block;
	float: right;
}

h1{
	color: orange !important;
	/*the !important property has the highest priority.using this will prioritize the property*/
	text-align:center ;
	font-size: 2rem;
}

/*landing section*/
section{
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}

/*id-selector*/
/*#id-name*/

#zuitt-motto{
	letter-spacing: 5px;
	/*the letter-spacing property changes the spaces in between characters of a text*/
}
  /*the selectors used for combinator selectors aren't limitd/restricted to type selectors only.Id,class,attribute and universal selectors may be used.*/
  /*the height cahnges the vertical dimensions of the element*/
  /*the width cahnges the horizontal dimensions of the element*/
  /*the border-radius,changes the corners of the element from sharp to round corners. */


h3{
	letter-spacing: 25px;
}

/*Adjacent sibling selctor*/
/*selector+selector*/

h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}


ol{
	list-style-type: none;
}

/*class selector*/
/*.calss name*/
.offering-item{
	text-transform: uppercase;
	/*the text-transform property changes font to a certain case,the value uppercase changes the text to all captalized letters.1*/
}

/*descendant selector*/
/*selector slector*/
#bootcamp-learning-list li{
	color: #075966;
}

	/*the color property and similar properties taht change color can also accept hex value.Hexadecimal values is consist of (#) sign in combination with 6 alphumeric characters*/

/*general sibling selector*/
/*selector ~ selector*/

h2~a{
	text-decoration: none;
}
/*the text-decoration,is a property that changes lines included in the text(e.g.overline,underling and stike through)*/
/*the value none,will remoe the underline from links*/

/*child selector*/
/*selector>selector*/

body > section > form > label {
	color: rgb(237, 17, 35);
}

/*the child selector may incude more that  two selctors,and the last tag element is where the cahnges will happen*/

/*Attribute selector*/
/*tagname[attribute]*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*regissstered section*/

form{
	text-align: center;
	background-color: white;
	height: 185px;
	width: 25vw;
	border: 2px solid black;
	position: relative;
	left: 37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}