.external{
	color: yellow;
}

*{
	font-family: "courier new";
	font-size:15px ;
}

h1{
	font-size: 2rem;
}

#uppercase{
	text-transform: uppercase;
}

.cs{
	 background-color: green;
}

li[class="a"]{
	border-width: 100%;
	border-style: solid;
	border-color: blue;
}


.ch img{
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

.ch+ul{
	list-style-type: none;
}

h4~p{
	text-align: center;
}

body>section>ul>li{
	letter-spacing: 5px;
}